body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.products {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.product-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.product-image {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  width: 100%;
  object-fit: contain;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: white;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style-type: none;
  list-style: none;
}

.nav ul li {
  margin-right: 15px;
}

.nav ul li a {
  color: black;
  text-decoration: none;
}

.search-bar input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

/* Mini Faixa (Banner) */
.banner {
  background-color: #f3f3f3;
  color: black;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}